In [2]:
# importing necessary packages
import numpy as np
import pandas as pd
import datetime as dt

In [4]:
child = pd.read_csv('Child_data (1).csv', index_col=0)
child.head(5)   # index_col=0 is used because not use the first column while loading the data

,name,Birth Month,Birth Year,Day,Height,Remarks
1,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand
2,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand
3,Zach,12,87,2nd Saturday,2'0'',Boy with Right biggerfoot and Right dominant ...
4,Josh,1,88,1st Tuesday,2'1'',Boy with Left biggerfoot and Right dominant hand
5,Lang,2,88,1st Monday,2'1'',Boy with Left biggerfoot and Right dominant hand

In [5]:
# Basic checks
child.shape

(39, 6)

In [6]:
child.isnull().sum() #NaN check

name           0
Birth Month    0
Birth Year     0
Day            0
Height         0
Remarks        0
dtype: int64

In [5]:
child.info() # Column child type check

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 1 to 39
Data columns (total 6 columns):
name           39 non-null object
Birth Month    39 non-null int64
Birth Year     39 non-null int64
Day            39 non-null object
Height         39 non-null object
Remarks        39 non-null object
dtypes: int64(2), object(4)
memory usage: 2.1+ KB

### Converting height in cms from feet and inches value

In [6]:
# Calculate Height in cms
ht_in_cms=[]
for ht in child.Height :
    sData = ht.split("'")    # split feet and inches value
    ht_in_cms.append((int(sData[0]) * 12 + int(sData[1])) * 2.54) # convert feet to inches and then multiply by 2.54

ht_in_cms

[60.96,
 63.5,
 60.96,
 63.5,
 63.5,
 63.5,
 66.04,
 58.42,
 58.42,
 55.88,
 68.58,
 60.96,
 66.04,
 68.58,
 66.04,
 58.42,
 60.96,
 60.96,
 66.04,
 63.5,
 60.96,
 60.96,
 60.96,
 60.96,
 60.96,
 68.58,
 66.04,
 63.5,
 60.96,
 58.42,
 60.96,
 55.88,
 60.96,
 58.42,
 60.96,
 55.88,
 66.04,
 53.34,
 60.96]

In [7]:
# Create new height column    
child['Height (in cms)'] = ht_in_cms
child.head(2)

,name,Birth Month,Birth Year,Day,Height,Remarks,Height (in cms)
1,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand,60.96
2,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand,63.50

### checking gender,Biggger foot and dominant hand

In [8]:

gender=[]
biggerFoot=[]
dominantHand=[]
for r in child.Remarks :
    if 'Girl' in r :                                
        gender.append('Female')
    elif 'Boy' in r :  
        gender.append('Male')
    else :
        gender.append('Nan')
    
    if 'Left biggerfoot' in r :
        biggerFoot.append('L')
    elif 'Right biggerfoot' in r :  
        biggerFoot.append('R')
    else :
        biggerFoot.append('Nan')
        
    if 'Left dominant' in r :
        dominantHand.append('L')
    elif 'Right dominant' in r :  
        dominantHand.append('R')
    else :
        dominantHand.append('Nan')

data['Gender'] = gender
data['Bigger Foot'] = biggerFoot
data['Dominant Hand'] = dominantHand

data.tail()

,name,Birth Month,Birth Year,Day,Height,Remarks,Height (in cms),Gender,Bigger Foot,Dominant Hand
35,Peter,4,88,2nd Saturday,2'0'',Boy with Right biggerfoot and Left dominant hand,60.96,Male,R,L
36,Hannah,3,88,1st Sunday,1'10'',Girl with Left biggerfoot and Right dominant ...,55.88,Female,L,R
37,Teshanna,3,88,1st Thursday,2'2'',Girl with Left biggerfoot and Right dominant ...,66.04,Female,L,R
38,Hayley,1,88,2nd Thursday,1'9'',Girl with Right biggerfoot and Right dominant...,53.34,Female,R,R
39,Alisha,9,88,4th Sunday,2'0'',Girl with Left biggerfoot and Right dominant ...,60.96,Female,L,R

In [9]:
child.isnull().sum() # checking if any NaN was introduced

name               0
Birth Month        0
Birth Year         0
Day                0
Height             0
Remarks            0
Height (in cms)    0
Gender             0
Bigger Foot        0
Dominant Hand      0
dtype: int64

#### spliting Day to week number and week day

In [10]:

week=[]
day=[]
for d in child.Day:
    sData = d.split(' ')
    week.append(sData[0])
    day.append(sData[1])
child['Week'] = week
child['Day'] = day

data.head(2)

,name,Birth Month,Birth Year,Day,Height,Remarks,Height (in cms),Gender,Bigger Foot,Dominant Hand,Week
1,David,5,88,Monday,2'0'',Boy with Left biggerfoot and Right dominant hand,60.96,Male,L,R,1st
2,Lars,10,87,Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand,63.50,Male,L,L,3rd

####  Converting Day to numerical representation

In [11]:

days = {'Monday':0,'Tuesday':1,'Wednesday':2,'Thursday':3,'Friday':4,'Saturday':5,'Sunday':6}
index =1
for d in child.Day :
    child.Day[index] = days[d]
    index += 1

C:\Users\s7s16\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

#### Converting Week number to numerical representation

In [12]:

child.Week.replace(to_replace='1st',value=1,inplace=True)
child.Week.replace(to_replace='2nd',value=2,inplace=True)
child.Week.replace(to_replace='3rd',value=3,inplace=True)
child.Week.replace(to_replace='4th',value=4,inplace=True)

child.head(2)

,name,Birth Month,Birth Year,Day,Height,Remarks,Height (in cms),Gender,Bigger Foot,Dominant Hand,Week
1,David,5,88,0,2'0'',Boy with Left biggerfoot and Right dominant hand,60.96,Male,L,R,1
2,Lars,10,87,1,2'1'',Boy with Left biggerfoot and Left dominant hand,63.50,Male,L,L,3

#### changing Format of year from yy to yyyy

In [13]:
# changing year from yy to yyyy
child['Birth Year'] = child['Birth Year'].astype(str)
index = 1
for by in child['Birth Year'] :
    child['Birth Year'][index] = dt.datetime.strptime(by,'%y').strftime('%Y')
    index += 1
child['Birth Year'] = child['Birth Year'].astype('int64')

C:\Users\s7s16\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [14]:
child.head(2)

,name,Birth Month,Birth Year,Day,Height,Remarks,Height (in cms),Gender,Bigger Foot,Dominant Hand,Week
1,David,5,1988,0,2'0'',Boy with Left biggerfoot and Right dominant hand,60.96,Male,L,R,1
2,Lars,10,1987,1,2'1'',Boy with Left biggerfoot and Left dominant hand,63.50,Male,L,L,3

####  Calculate 1st day value of each month

In [15]:

day_1= []
index = 1
for m in child['Birth Month'] :
    day_1.append(dt.date(child['Birth Year'][index],child['Birth Month'][index],1).weekday())
    index += 1
child['Day_1'] = day_1
child.head(2)

,name,Birth Month,Birth Year,Day,Height,Remarks,Height (in cms),Gender,Bigger Foot,Dominant Hand,Week,Day_1
1,David,5,1988,0,2'0'',Boy with Left biggerfoot and Right dominant hand,60.96,Male,L,R,1,6
2,Lars,10,1987,1,2'1'',Boy with Left biggerfoot and Left dominant hand,63.50,Male,L,L,3,3

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 1 to 39
Data columns (total 12 columns):
name               39 non-null object
Birth Month        39 non-null int64
Birth Year         39 non-null int64
Day                39 non-null object
Height             39 non-null object
Remarks            39 non-null object
Height (in cms)    39 non-null float64
Gender             39 non-null object
Bigger Foot        39 non-null object
Dominant Hand      39 non-null object
Week               39 non-null int64
Day_1              39 non-null int64
dtypes: float64(1), int64(4), object(7)
memory usage: 5.2+ KB

In [17]:
child.Day = child.Day.astype('int64')

# function to calculate birth date

In [1]:
##### week_no - week in which birth day occurs
#### day_no - Weekday representation from Monday=0 through Sunday=6
#### day_1_no - Weekday representation for 1st of any given month
def calculate_birth_date(week_no,day_no,day_1_no) :
    birthDate = 7*week_no - (6-day_no)
    if(day_1_no > day_no) :
        birthDate += (7-day_1_no)
    else :
        birthDate -= day_1_no
    return birthDate

In [19]:
#Calculate birth date
birth_date = []
index = 1
for d in child.Day :
    birth_date.append(dt.date(child['Birth Year'][index],child['Birth Month'][index],calculate_birth_date(child.Week[index],child.Day[index],child.Day_1[index])))
    index += 1

In [20]:
child.insert(column = 'Birth Date', value = birth_date, loc =1)
child.head(2)

,name,Birth Date,Birth Month,Birth Year,Day,Height,Remarks,Height (in cms),Gender,Bigger Foot,Dominant Hand,Week,Day_1
1,David,1988-05-02,5,1988,0,2'0'',Boy with Left biggerfoot and Right dominant hand,60.96,Male,L,R,1,6
2,Lars,1987-10-20,10,1987,1,2'1'',Boy with Left biggerfoot and Left dominant hand,63.50,Male,L,L,3,3

#### Changing birth date format

In [21]:
child['Birth Date'] = child['Birth Date'].astype('str')
index = 1
for by in child['Birth Date'] :
    child['Birth Date'][index] = dt.datetime.strptime(by,'%Y-%m-%d').strftime('%d-%m-%Y')
    index += 1
child.head(2)

C:\Users\s7s16\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,name,Birth Date,Birth Month,Birth Year,Day,Height,Remarks,Height (in cms),Gender,Bigger Foot,Dominant Hand,Week,Day_1
1,David,02-05-1988,5,1988,0,2'0'',Boy with Left biggerfoot and Right dominant hand,60.96,Male,L,R,1,6
2,Lars,20-10-1987,10,1987,1,2'1'',Boy with Left biggerfoot and Left dominant hand,63.50,Male,L,L,3,3

In [22]:
X = child.loc[:,['name','Birth Date','Gender','Height (in cms)','Bigger Foot','Dominant Hand']]
X.rename(columns ={'name' : 'Name'},inplace=True)

In [23]:
X.to_csv('Child_data_updated.csv')